@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #1e1e1e;
    color:white;
    text-align: center;
    display: flex;
    background-image: url('./assets/image.png'); /* Path to the image */
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image repetition */
}
#nav1 {
    display: flex;
    justify-content: space-between;
    width: 100;
    padding: 40px;
    position: relative;
    top: 0;
    left: 0;
    height: 20vh;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    display: flex;
}
.nav2 a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
.nav-links a:hover{
    text-decoration: underline;
}
#container {
    max-width: 100;
    text-align: center;
    position: relative;
    height: 70vh;
    padding: 10vh;
}
.nav2{
    height: 10vh;
    margin: 0 1rem;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    display: flex;  
    justify-content: center;
    padding: 40px;
}
.nav-links{
    display: flex;
}